<ion-header class="hidden-print">
  <ion-toolbar>
    <ion-title>
      Demo: Football-Bingo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let r of [] | range:5">
    <ion-col *ngFor="let c of [] | range:5"
             [ngStyle]="{ 'height': columnHeight + 'px', 'width': columnHeight + 'px' }"
             text-center>
      <ion-label>
        {{ getSquare(r, c) }}
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="hidden-print">
    <ion-col [size]="12">
      <ion-button class="accept-button"
                  [size]="'full'"
                  (click)="generate()">
        Generate Board
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
